.mediaViewInfo {
    --web-view-name: Homepage - 1366;
    --web-view-id: Homepage_-_1366;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Homepage_-_1366;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Homepage_-_1366 {
    position: absolute;
    width: 1366px;
    height: 3812px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Homepage - 1366;
    --web-view-id: Homepage_-_1366;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
#Navbar {
    position: absolute;
    width: 1366px;
    height: 123px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#bg {
    fill: rgba(69,0,174,1);
}
.bg {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 123px;
    left: 0px;
    top: 0px;
}
#HOME {
    position: absolute;
    width: 54px;
    height: 24.662px;
    left: 491px;
    top: 53px;
    overflow: visible;
}
#hover {
    fill: rgba(255,255,255,1);
}
.hover {
    position: absolute;
    overflow: visible;
    width: 46px;
    height: 2px;
    left: 0px;
    top: 22.662px;
}
#HOME__ {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 55px;
    white-space: nowrap;
    line-height: 19.200000762939453px;
    margin-top: -1.6000003814697266px;
    text-align: center;
    font-family: Raleway-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#CONSULT_A_DOCTOR {
    left: 588px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    cursor: pointer;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Sign_In___1366.html;
    line-height: 19.200000762939453px;
    margin-top: -1.6000003814697266px;
    text-align: center;
    font-family: Raleway-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#BUY_A_PRESCRIPTION {
    left: 788px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 165px;
    white-space: nowrap;
    cursor: pointer;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Enter_Location___1366.html;
    line-height: 19.200000762939453px;
    margin-top: -1.6000003814697266px;
    text-align: center;
    font-family: Raleway-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#KNOWLEDGE_BANK {
    left: 995px;
    top: 53px;
    position: absolute;
    overflow: visible;
    width: 152px;
    white-space: nowrap;
    line-height: 19.200000762939453px;
    margin-top: -1.6000003814697266px;
    text-align: center;
    font-family: Raleway-Bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: rgba(255,255,255,1);
}
#MEDICURE {
    left: 58px;
    top: 44px;
    position: absolute;
    overflow: visible;
    width: 167px;
    white-space: nowrap;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    color: rgba(255,255,255,1);
}
#LOGIN_BUTTON {
    position: absolute;
    width: 148px;
    height: 48px;
    left: 1188px;
    top: 38px;
    overflow: visible;
}
#Rectangle_1090 {
    fill: rgba(251,38,38,1);
}
.Rectangle_1090 {
    position: absolute;
    overflow: visible;
    width: 148px;
    height: 48px;
    left: 0px;
    top: 0px;
    cursor: pointer;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Sign_In___1366.html;
}
#SIGN_IN {
    left: 41px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -6px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(255,255,255,1);
}
#SEARCH {
    display: none;
    left: 1283px;
    top: 52px;
    position: absolute;
    overflow: visible;
    width: 19px;
    white-space: nowrap;
    line-height: 24px;
    margin-top: -2px;
    text-align: center;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(255,255,255,1);
}
#Image {
    position: absolute;
    width: 1366px;
    height: 645px;
    left: 0px;
    top: 123px;
    overflow: visible;
}
#Footer {
    position: absolute;
    width: 1366px;
    height: 290px;
    left: 0px;
    top: 3522px;
    overflow: visible;
}
#Base {
    fill: rgba(69,0,174,1);
}
.Base {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 240px;
    left: 0px;
    top: 0px;
}
#CONTACT_US_ORDERING__PAYMENT_S {
    left: 1017px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 111px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -8px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: rgba(255,255,255,1);
}
#ABOUT_ADOBE_XD_KIT_WORK_WITH_U {
    left: 1181px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 109px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -8px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: rgba(255,255,255,1);
}
#Subscribe {
    position: absolute;
    width: 350px;
    height: 136px;
    left: 50px;
    top: 50px;
    overflow: visible;
}
#Required_Field {
    position: absolute;
    width: 210px;
    height: 40px;
    left: 0px;
    top: 96px;
    overflow: visible;
}
#Rectangle_130 {
    fill: rgba(255,255,255,1);
    stroke: rgba(251,38,38,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_130 {
    position: absolute;
    overflow: visible;
    width: 210px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#Email_Address {
    left: 20px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 94px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(251,38,38,1);
}
#Excepteur_sint_occaecat_cupida {
    left: 0px;
    top: 36px;
    position: absolute;
    overflow: visible;
    width: 331px;
    height: 40px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Subscribe_to_AdobeXD_via_Email {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 214px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
#Group_330 {
    position: absolute;
    width: 120px;
    height: 40px;
    left: 230px;
    top: 96px;
    overflow: visible;
}
#Rectangle_1 {
    fill: rgba(251,38,38,1);
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 40px;
    left: 0px;
    top: 0px;
}
#SUBSCRIBE {
    left: 32px;
    top: 15px;
    position: absolute;
    overflow: visible;
    width: 57px;
    white-space: nowrap;
    line-height: 12px;
    margin-top: -1px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: rgba(255,255,255,1);
}
#n_4_345_678_903_ADOBEXDMAILCOM {
    left: 857px;
    top: 50px;
    position: absolute;
    overflow: visible;
    width: 106px;
    white-space: nowrap;
    line-height: 26px;
    margin-top: -8px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: rgba(255,255,255,1);
}
#Info {
    position: absolute;
    width: 1366px;
    height: 50px;
    left: 0px;
    top: 240px;
    overflow: visible;
}
#Base_bq {
    fill: rgba(251,38,38,1);
}
.Base_bq {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 50px;
    left: 0px;
    top: 0px;
}
#n_AdobeXD_Kit_2017 {
    left: 49px;
    top: 20px;
    position: absolute;
    overflow: visible;
    width: 94px;
    white-space: nowrap;
    line-height: 20px;
    margin-top: -5px;
    text-align: right;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: rgba(255,255,255,1);
}
#Path_1 {
    fill: rgba(255,255,255,1);
}
.Path_1 {
    overflow: visible;
    position: absolute;
    width: 14.62px;
    height: 27.996px;
    left: 1312px;
    top: 11px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
    fill: rgba(255,255,255,1);
}
.Path_2 {
    overflow: visible;
    position: absolute;
    width: 28px;
    height: 22.711px;
    left: 1259px;
    top: 14px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_3 {
    fill: rgba(255,255,255,1);
}
.Path_3 {
    overflow: visible;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 1205px;
    top: 11px;
    transform: matrix(1,0,0,1,0,0);
}
#Rectangle_1272 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,0.502);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1272 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 813px;
    left: 0px;
    top: 2709px;
}
#Rectangle_1243 {
    position: absolute;
    width: 673px;
    height: 610px;
    left: 0px;
    top: 2851px;
    overflow: visible;
}
#Rectangle_1234 {
    fill: rgba(236,31,37,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1234 {
    position: absolute;
    overflow: visible;
    width: 198px;
    height: 60px;
    left: 754px;
    top: 3401px;
}
#Rectangle_1235 {
    fill: rgba(241,249,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1235 {
    position: absolute;
    overflow: visible;
    width: 539px;
    height: 90px;
    left: 752px;
    top: 3250px;
}
#Rectangle_1236 {
    fill: rgba(241,249,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1236 {
    position: absolute;
    overflow: visible;
    width: 539px;
    height: 39px;
    left: 752px;
    top: 3184px;
}
#Rectangle_1237 {
    fill: rgba(241,249,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1237 {
    position: absolute;
    overflow: visible;
    width: 255px;
    height: 39px;
    left: 1036px;
    top: 3117px;
}
#Rectangle_1238 {
    fill: rgba(241,249,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1238 {
    position: absolute;
    overflow: visible;
    width: 255px;
    height: 39px;
    left: 752px;
    top: 3117px;
}
#Rectangle_1239 {
    fill: rgba(241,249,255,1);
    stroke: rgba(0,0,0,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1239 {
    position: absolute;
    overflow: visible;
    width: 539px;
    height: 39px;
    left: 752px;
    top: 3051px;
}
#Send_Message {
    left: 769px;
    top: 3417px;
    position: absolute;
    overflow: visible;
    width: 166px;
    height: 33px;
    line-height: 33px;
    margin-top: -5.5px;
    text-align: right;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}
#Your_Name {
    left: 767px;
    top: 3062px;
    position: absolute;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -6px;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Subject {
    left: 767px;
    top: 3194px;
    position: absolute;
    overflow: visible;
    width: 53px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -6px;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Your_Message {
    left: 767px;
    top: 3260px;
    position: absolute;
    overflow: visible;
    width: 95px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -6px;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Your_Email {
    left: 767px;
    top: 3128px;
    position: absolute;
    overflow: visible;
    width: 72px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -6px;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#Phone_Number {
    left: 1052px;
    top: 3129px;
    position: absolute;
    overflow: visible;
    width: 103px;
    white-space: nowrap;
    line-height: 27px;
    margin-top: -6px;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: lighter;
    font-size: 15px;
    color: rgba(112,112,112,1);
}
#GET_IN_TOUCH_WITH_US______ {
    left: 752px;
    top: 2883px;
    position: absolute;
    overflow: visible;
    width: 416px;
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(0,0,0,1);
}
#Have_An_Issue {
    left: 384px;
    top: 2735px;
    position: absolute;
    overflow: visible;
    width: 600px;
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(69,0,174,1);
}
#Rectangle_1277 {
    fill: rgba(0,176,0,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1277 {
    position: absolute;
    overflow: visible;
    width: 30px;
    height: 30px;
    left: 1291px;
    top: 2237px;
}
#Rectangle_1278 {
    fill: rgba(0,0,0,0);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1278 {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 30px;
    left: 1299px;
    top: 2237px;
}
#Rectangle_1283 {
    fill: rgba(241,249,255,1);
}
.Rectangle_1283 {
    position: absolute;
    overflow: visible;
    width: 1366px;
    height: 977px;
    left: 0px;
    top: 1536px;
}
#Our_Services {
    left: 430px;
    top: 1546px;
    position: absolute;
    overflow: visible;
    width: 507px;
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    color: rgba(69,0,174,1);
}
#Lorem_ipsum_dolor_sit_amet_con {
    left: 901px;
    top: 2391px;
    position: absolute;
    overflow: hidden;
    width: 343px;
    height: 89px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(128,128,128,1);
}
#Lorem_ipsum_dolor_sit_amet {
    left: 901px;
    top: 2363px;
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,120,1);
    text-transform: uppercase;
}
#Rectangle_1284 {
    fill: rgba(216,207,238,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1284 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 240px;
    left: 901px;
    top: 2087px;
}
#Rectangle_1285 {
    position: absolute;
    width: 360px;
    height: 240px;
    left: 901px;
    top: 2087px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_cj {
    left: 502px;
    top: 2391px;
    position: absolute;
    overflow: hidden;
    width: 343px;
    height: 89px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(128,128,128,1);
}
#Lorem_ipsum_dolor_sit_amet_ck {
    left: 502px;
    top: 2363px;
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,120,1);
    text-transform: uppercase;
}
#Rectangle_1286 {
    fill: rgba(216,207,238,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1286 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 240px;
    left: 502px;
    top: 2087px;
}
#Rectangle_1287 {
    position: absolute;
    width: 360px;
    height: 240px;
    left: 502px;
    top: 2087px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_cn {
    left: 104px;
    top: 2391px;
    position: absolute;
    overflow: visible;
    width: 343px;
    height: 65px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(128,128,128,1);
}
#Lorem_ipsum_dolor_sit_amet_co {
    left: 104px;
    top: 2363px;
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,120,1);
    text-transform: uppercase;
}
#Rectangle_1288 {
    fill: rgba(216,207,238,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1288 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 240px;
    left: 104px;
    top: 2087px;
}
#Rectangle_1289 {
    position: absolute;
    width: 360px;
    height: 240px;
    left: 104px;
    top: 2087px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_cr {
    left: 901px;
    top: 1966px;
    position: absolute;
    overflow: hidden;
    width: 343px;
    height: 89px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(128,128,128,1);
}
#Lorem_ipsum_dolor_sit_amet_cs {
    left: 901px;
    top: 1938px;
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,120,1);
    text-transform: uppercase;
}
#Rectangle_1290 {
    fill: rgba(216,207,238,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1290 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 240px;
    left: 901px;
    top: 1662px;
}
#Rectangle_1291 {
    position: absolute;
    width: 360px;
    height: 240px;
    left: 901px;
    top: 1662px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_cv {
    left: 502px;
    top: 1966px;
    position: absolute;
    overflow: visible;
    width: 343px;
    height: 65px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(128,128,128,1);
}
#Lorem_ipsum_dolor_sit_amet_cw {
    left: 502px;
    top: 1938px;
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,120,1);
    text-transform: uppercase;
}
#Rectangle_1292 {
    fill: rgba(216,207,238,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1292 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 240px;
    left: 502px;
    top: 1662px;
}
#Rectangle_1293 {
    position: absolute;
    width: 360px;
    height: 240px;
    left: 502px;
    top: 1662px;
    overflow: visible;
}
#Lorem_ipsum_dolor_sit_amet_con_cz {
    left: 104px;
    top: 1966px;
    position: absolute;
    overflow: visible;
    width: 343px;
    height: 65px;
    line-height: 24px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: rgba(128,128,128,1);
}
#Lorem_ipsum_dolor_sit_amet_c {
    left: 104px;
    top: 1938px;
    position: absolute;
    overflow: visible;
    width: 361px;
    height: 23px;
    line-height: 23px;
    margin-top: -3.5px;
    text-align: left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0,0,120,1);
    text-transform: uppercase;
}
#Rectangle_1294 {
    fill: rgba(216,207,238,1);
    stroke: rgba(0,0,0,0);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1294 {
    position: absolute;
    overflow: visible;
    width: 360px;
    height: 240px;
    left: 104px;
    top: 1662px;
}
#Rectangle_1295 {
    position: absolute;
    width: 360px;
    height: 240px;
    left: 104px;
    top: 1662px;
    overflow: visible;
}
#Rectangle_1297 {
    fill: rgba(248,252,255,1);
}
.Rectangle_1297 {
    position: absolute;
    overflow: visible;
    width: 866px;
    height: 768px;
    left: 500px;
    top: 768px;
}
#Rectangle_1296 {
    position: absolute;
    width: 500px;
    height: 768px;
    left: 0px;
    top: 768px;
    overflow: visible;
}
#Learn_More {
    position: absolute;
    width: 175px;
    height: 56px;
    left: 75px;
    top: 611px;
    overflow: visible;
}
#Rectangle_1090_c {
    fill: rgba(251,38,38,1);
}
.Rectangle_1090_c {
    position: absolute;
    overflow: visible;
    width: 175px;
    height: 56px;
    left: 0px;
    top: 0px;
}
#Learn_More_c {
    left: 23px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 131px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -3px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
    text-transform: capitalize;
}
#Register {
    position: absolute;
    width: 140px;
    height: 56px;
    left: 272px;
    top: 611px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Sign_Up___1366_.html;
    cursor: pointer;
}
#Rectangle_1090_da {
    fill: rgba(241,249,255,1);
}
.Rectangle_1090_da {
    position: absolute;
    overflow: visible;
    width: 140px;
    height: 56px;
    left: 0px;
    top: 0px;
}
#Register_da {
    left: 22px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 97px;
    white-space: nowrap;
    line-height: 30px;
    margin-top: -3px;
    text-align: center;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(251,38,38,1);
}
#Lorem_ipsum_dolor_sit_amet_con_db {
    filter: drop-shadow(0px 3px 6px rgba(112, 112, 112, 1));
    left: 75px;
    top: 427px;
    position: absolute;
    overflow: visible;
    width: 704px;
    height: 115px;
    line-height: 40px;
    margin-top: -5px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: rgba(0,0,0,1);
}
#Big_Title {
    left: 75px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0,0,0,1);
}
#Rectangle_1273 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,0.502);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1273 {
    position: absolute;
    overflow: visible;
    width: 455px;
    height: 196px;
    left: 0px;
    top: 2513px;
}
#Rectangle_1274 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,0.502);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1274 {
    position: absolute;
    overflow: visible;
    width: 455px;
    height: 196px;
    left: 455px;
    top: 2513px;
}
#Rectangle_1275 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,0.502);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1275 {
    position: absolute;
    overflow: visible;
    width: 455px;
    height: 196px;
    left: 910px;
    top: 2513px;
}
#Group_465 {
    position: absolute;
    width: 374px;
    height: 117px;
    left: 44px;
    top: 2553px;
    overflow: visible;
}
#Address__19th_Random_Street_Ea {
    left: 75px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 300px;
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0,0,0,1);
}
#location-pin {
    position: absolute;
    width: 67.937px;
    height: 91.387px;
    left: 0px;
    top: 13px;
    overflow: visible;
}
#Path_328 {
    fill: rgba(251,38,38,1);
}
.Path_328 {
    overflow: visible;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 21.468px;
    top: 21.484px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_329 {
    fill: rgba(251,38,38,1);
}
.Path_329 {
    overflow: visible;
    position: absolute;
    width: 67.937px;
    height: 91.387px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_463 {
    position: absolute;
    width: 259px;
    height: 102px;
    left: 559px;
    top: 2560px;
    overflow: visible;
}
#Phone___233246-810-1214__23301 {
    left: 76px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 184px;
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0,0,0,1);
}
#phone {
    position: absolute;
    width: 62.5px;
    height: 100px;
    left: 0px;
    top: 1px;
    overflow: visible;
}
#Path_330 {
    fill: rgba(251,38,38,1);
}
.Path_330 {
    overflow: visible;
    position: absolute;
    width: 62.5px;
    height: 100px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_331 {
    fill: rgba(251,38,38,1);
}
.Path_331 {
    overflow: visible;
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    left: 25px;
    top: 75px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_464 {
    position: absolute;
    width: 318px;
    height: 72px;
    left: 980px;
    top: 2575px;
    overflow: visible;
}
#Email__servicesmedicarecom {
    left: 92px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 227px;
    white-space: nowrap;
    text-align: left;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(0,0,0,1);
}
#mail {
    position: absolute;
    width: 75px;
    height: 59.683px;
    left: 0px;
    top: 6px;
    overflow: visible;
}
#Path_332 {
    fill: rgba(251,38,38,1);
}
.Path_332 {
    overflow: visible;
    position: absolute;
    width: 75px;
    height: 59.683px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Group_466 {
    position: absolute;
    width: 797px;
    height: 456px;
    left: 535px;
    top: 850px;
    overflow: visible;
}
#Excepteur_sint_occaecat_cupida_dv {
    left: 1px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 571px;
    height: 155px;
    line-height: 50px;
    margin-top: -7px;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(69,0,174,1);
}
#User_Focused_We_always_keep_th {
    left: 84px;
    top: 207px;
    position: absolute;
    overflow: visible;
    width: 306px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(69,0,174,1);
}
#Uniqueness_We_make_sure_every_ {
    left: 495px;
    top: 207px;
    position: absolute;
    overflow: visible;
    width: 303px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(69,0,174,1);
}
#We_Listen_Alot_We_are_the_best {
    left: 84px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 319px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(69,0,174,1);
}
#The_Best_or_None_We_deliver_re {
    left: 495px;
    top: 360px;
    position: absolute;
    overflow: visible;
    width: 274px;
    white-space: nowrap;
    text-align: left;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: rgba(69,0,174,1);
}
#monitor {
    position: absolute;
    width: 70.001px;
    height: 60px;
    left: 1px;
    top: 207px;
    overflow: visible;
}
#Path_333 {
    fill: rgba(0,0,0,1);
}
.Path_333 {
    overflow: visible;
    position: absolute;
    width: 70.001px;
    height: 44.984px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_334 {
    fill: rgba(0,0,0,1);
}
.Path_334 {
    overflow: visible;
    position: absolute;
    width: 25.057px;
    height: 12.5px;
    left: 22.472px;
    top: 47.5px;
    transform: matrix(1,0,0,1,0,0);
}
#tag-group {
    position: absolute;
    width: 60.015px;
    height: 70px;
    left: 422px;
    top: 207px;
    overflow: visible;
}
#Path_335 {
    fill: rgba(0,0,0,1);
}
.Path_335 {
    overflow: visible;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 40.015px;
    top: 25px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_336 {
    fill: rgba(0,0,0,1);
}
.Path_336 {
    overflow: visible;
    position: absolute;
    width: 55.015px;
    height: 55px;
    left: 5px;
    top: 15px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_337 {
    fill: rgba(0,0,0,1);
}
.Path_337 {
    overflow: visible;
    position: absolute;
    width: 55.015px;
    height: 36.775px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#hearing {
    position: absolute;
    width: 72.5px;
    height: 70px;
    left: 0px;
    top: 360px;
    overflow: visible;
}
#Path_338 {
    fill: rgba(0,0,0,1);
}
.Path_338 {
    overflow: visible;
    position: absolute;
    width: 30px;
    height: 30px;
    left: 42.5px;
    top: 40px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_339 {
    fill: rgba(0,0,0,1);
}
.Path_339 {
    overflow: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 42.5px;
    top: 40px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_340 {
    fill: rgba(0,0,0,1);
}
.Path_340 {
    overflow: visible;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 42.5px;
    top: 40px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_341 {
    fill: rgba(0,0,0,1);
}
.Path_341 {
    overflow: visible;
    position: absolute;
    width: 45px;
    height: 59.995px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Path_342 {
    fill: rgba(0,0,0,1);
}
.Path_342 {
    overflow: visible;
    position: absolute;
    width: 25.002px;
    height: 35.002px;
    left: 9.998px;
    top: 9.998px;
    transform: matrix(1,0,0,1,0,0);
}
#bx-crown {
    fill: rgba(0,0,0,1);
}
.bx-crown {
    overflow: visible;
    position: absolute;
    width: 60.001px;
    height: 59.99px;
    left: 422px;
    top: 360px;
    transform: matrix(1,0,0,1,0,0);
}