a{
    text-decoration: none;
}
.bodybackground{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subhero{

}
.signinbox{
    height: 80%;
    width: 60vw;
    border-radius: 15px;
    padding: 0 !important;
}
.signupbox{
    height: 80%;
    width: 60vw;
    border-radius: 15px;
    padding: 0 !important;
}
.signupimage{
    background-image: url("../Sources/signup.jpg");
   height: 100%;  
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
.logo h1{
    margin-bottom: 0;
    font-size: 2rem;
    color: white;
    padding: 15px 4vw;
}
.signinimage{
   background-image: url("../Sources/signInimage.jpg");
   height: 100%;  
   background-size: cover;
   background-repeat: no-repeat; 
   background-position: center;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
#menuul{
    list-style: none;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin: 0 3%;
}
#menuul li a{
    color: white;
}
.nav-item{
    position: relative;
    margin: 0 15px 0 15px;
}
#menuul .nav-item::after{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    top: 25px;
    border-bottom: 3px solid rgb(255, 255, 255);
    transition: 0.5s ease-in-out;
}
#menuul .nav-item:hover::after{
    width: 100%;
}
nav{
    display: flex; 
    justify-content: space-between;
    position: absolute;
    width: 100%; 
    top: 0px;
    left: 0px;z-index: 1;
    background-color: #4400AD;
}
.hero{
    height: 80vh;
    width: 100%;
    background: url('../Sources/Image.png');
    background-repeat: no-repeat;
    background-size: cover;
}